.main-section {
  padding: 30px 70px;
  margin-bottom: 10%;
  display: flex;
  align-items: center;
}

.section-about {
  text-align: center;
  padding: 30px;
  margin: 20px;
}
.div-about {
  padding: 10px;
}
#about {
  font-size: 1.9em;
  color: #1f83ed;
}
#txet {
  color: white;
}

.div-name {
  text-align: center;
  font-weight: bold;
  padding-top: 170px;
  margin: 10px;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}
.div-inf {
  text-align: center;
}

.logo {
  font-size: 2rem;
  font-weight: 900;
  margin-top: 10px;
}

h2 {
  text-align: center;
  color: #1f83ed;
  font-size: 1.9em;
}

.team-card {
  border-color: white;
  box-shadow: 0 5px 20px rgba(1 1 1 / 15);
  border-radius: 5px;
  padding: 25px;
  margin: 10px;
  transition: 0.7s ease;
  display: inline-block;
  width: 200px;
  text-align: center;
}

.team-card:hover {
  transform: scale(1.1);
  border: 2px solid;
  border-color: #1f83ed;
}

.team-card:hover .team-card img {
  opacity: 0.9;
  border-color: #1f83ed;
}

.team-card img {
  width: 170px;
  height: 250px;
}
#team-container {
  text-align: center;
}
.team-card button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #1f83ed;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.team-card button:hover {
  background-color: #221f1f;
}

.description {
  display: none;
  margin-top: 10px;
  color: #555;
}

.logo-img {
  max-width: 100px;
  height: auto;
  position: absolute;
  top: 20px;
  left: 40px;
}

@media (max-width: 1023px) {
  .main-section {
    padding: 20px 50px;
  }

  .artical {
    width: calc(50% - 20px);
  }
  .section-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 50%;
  }
}
@media (max-width: 768px) {
  .main-section {
    padding: 10px 20px;
  }

  .artical {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .div-name {
    padding-top: 10px;
  }
  .nav-menu {
    display: none;
    flex-direction: column;
    background-color: #181616;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
  }

  .nav-menu li {
    text-align: center;
    padding: 10px 0;
  }

  .nav-menu li a {
    color: white;
    text-decoration: none;
    display: block;
  }
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .hamburger {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
  }

  .nav-menu.active {
    display: flex;
  }
  .section-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 50%;
  }
}
@media (max-width: 300px) {
  .section-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 80%;
  }
}
