.container-c {
  width: 100%;
  max-width: 400px;
  background-color: var(--box-bg);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 60px;
  margin: auto;
  text-align: center;
  margin-top: 45px;
}

h2 {
  margin-bottom: 20px;
  color: var(--main-color);
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 4px;
  margin-bottom: 20px;
  font-size: 16px;
  background-color: #2c2c2c;
  color: var(--text-color);
  transition: border-color 0.3s;
}

input:hover,
textarea:hover {
  border-color: var(--main-color);
}

input:focus,
textarea:focus {
  border-color: var(--main-color);
  outline: none;
}

.bttn {
  width: 100%;
  padding: 14px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  background-color: var(--main-color);
  color: var(--text-color);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, border-color 0.3s;
}

.bttn:hover {
  background-color: #e5a00d;
  transform: translateY(-2px);
  border: 2px solid #e5a00d;
}

.logo-img {
  max-width: 100px;
  height: auto;
  position: absolute;
  top: 20px;
  left: 40px;
}

@media (max-width: 768px) {
  .container-c {
    width: 95%;
    padding: 30px;
  }

  .body-b {
    padding: 10px;
  }
}
