* {
  list-style: none;
}

i {
  color: red;
  margin-right: 5px;
}

ul {
  padding-left: 0;
}

:root {
  --main-color: #1f83ed;
  --body-bg: #181616;
  --box-bg: #221f1f;
  --text-color: #ffffff;
  --nav-height: 60px;
  --space-top: 30px;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)),
    url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  padding: 50px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  color: var(--main-color);
}

h2 {
  margin: 10px 0;
  font-size: 22px;
}

p,
li {
  color: #666;
  font-size: 14px;
}

input {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background: var(--main-color);
  color: #fff;
  cursor: pointer;
}

#login-error {
  color: red;
  margin-left: 10px;
  display: none;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    width: 90%;
  }
}

@media (max-width: 500px) {
  .container {
    border-radius: 0;
    margin-top: 50px;
    width: 100%;
    height: 100%;
    max-width: 100%;
  }
}
