:root {
  --main-color: #1f83ed;
  --body-bg: #181616;
  --box-bg: #221f1f;
  --text-color: #ffffff;
  --nav-height: 60px;
  --space-top: 30px;
}

* {
  scroll-behavior: smooth;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.profile-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: var(--text-color);
  border: 2px solid var(--text-color);
  margin-bottom: 10px;
}

.profile-image:hover {
  border-color: var(--main-color);
}

#submit-data-form {
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid transparent;
  transition: 0.5s;
  cursor: pointer;
  margin: 10px 0;
  background-color: var(--main-color);
  color: var(--text-color);
  border-radius: 5px;
}

#submit-data-form:hover {
  background-color: transparent;
  color: var(--text-color);
  border-color: var(--main-color);
}

.faviorite-data {
  margin: 20px 0;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--text-color);
  background-color: transparent;
  color: var(--text-color);
  border-radius: 5px;
}

input:hover {
  border-color: var(--main-color);
}

.user-data {
  padding: 0 50px;
  margin-top: 50px;
}

#username {
  margin-bottom: 10px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  border: 1px solid var(--main-color);
}

.card a h2 {
  padding: 10px;
}

@media (max-width: 920px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

#passwords-match {
  display: none;
  position: fixed;
  top: 100px;
  left: 100;
  background-color: red;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
}

#success-edit {
  display: none;
  position: fixed;
  top: 100px;
  right: 100px;
  background-color: green;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
}
