

  /* -------------------------------- SERVISES --------------------------------- */


.servies-header{
  margin-bottom: 30px;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 20px;

  
}

.servies-header span{
  margin-left: -5px;
}


.card-container{
display: flex;
justify-content:center;
flex-wrap: wrap;
margin-top: 60px;
flex-direction: row;

}

.card{
    opacity: 0.8;
  background-color:#221F1F;
    width: 360px;
    border-radius: 8px;
    margin: 10px 20px;
    overflow: hidden;
    
    
    transform: scale(1) translateZ(0); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
   

.card:hover{
  opacity: 1;

  transform: scale(1.1) translateZ(30px); 
}



.card img{
 
  width: 100%;
  height: 200px;
}
.card-content{
  padding: 10px;
}
.card-container h3{
  font-size: 18px;
  margin-bottom: 8px ;
  color: #ffffff;
  text-align:left;
  

}

.card-container p{
  opacity: 0.5;
  font-size: 14px;
  margin-bottom:  8px ;
  color: #dcdcdc;
  line-height: 1.5;
}



/* --------------------------------end SERVISES --------------------------------- */
