
/* ----------------------------------------------trend10----------------------------------------- */
.container_top_movies {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
}

#title_top_movies{
  margin-bottom: 30px;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 20px;
  color: #ffffff;
  margin-bottom: 60px;
  padding: 15px 30px; 
  border: 3px solid var(--main-color); 
  display: inline-block; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.8s ease, color 0.8s ease;
}

#title_top_movies:hover{
  color: var(--main-color);
  transition: 0.3s ease-in-out;
}

.main-top_movies {
    font-size: 3rem;
    color: var(--main-color);
    margin: -1px;
}

#top10 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.item_top_movies {
    background-color:#181616;
    border-radius: 20px;
    overflow: hidden;
    width: 200px;
    opacity: 0.8;
    transform: scale(1) translateZ(0); 
    transition: transform 0.8s ease, box-shadow 0.8s ease;
    margin-bottom: 10px;
    transition:0.6s ;
}

.item_top_movies:hover {
    opacity: 1;
    transform: scale(1.1) translateZ(30px); 
    transition:0.8s ;
    border-radius: 20px;
    margin:  0 10px ;   
    background-color: #221F1F;
    margin-bottom: 20px;
    padding-bottom:auto; ;
}


.item_top_movies img {
    width: 100%;
    height: auto;
    transition: transform 0.8s ease;
}

.item_top_movies img:hover {
    transition:0.8s ;
    transition: transform 0.8s ease;
}

.item_top_movies h2 {
    color: #ffffff;
    margin: 10px ;
    font-size:  1em;
    text-align:center;
    opacity: 0;
    transition: transform 0.8s ease, opacity 0.1s ease , padding 0.3s ease;
}

.item_top_movies:hover h2 {
    font-size: 1em;
    text-align:center;
    opacity: 0.7;
    transform: translateY(-2px) ; 
    transition:2s ;
}